---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z9LKZ0B57Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z9LKZ0B57Y');
  </script>
</head>

<!-- DevOps Course Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero2 bg-light p-4 shadow-sm">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-3 serif-font">Launch Your DevOps Career with Mentorship from the Top</h1>
      <p class="lead mb-4">
        Get <strong>one-on-one mentorship</strong> from senior engineers, industry veterans, and even <strong>startup founders & CEOs</strong>. 
        Learn DevOps hands-on — from setting up CI/CD pipelines to mastering Docker, Kubernetes, and real-world deployments.
        This isn’t just a course. It’s your shortcut to a job-ready DevOps career, guided by those who’ve built and deployed at scale.
      </p>
      <a href="https://www.linkedin.com/company/emwave-technologies/" target="_blank" class="btn btn-success text-white px-5 btn-lg mb-4">Contact Now</a>
    </div>
    <div class="col-md-6 text-right">
      <img class="intro" height="300" src="{{site.baseurl}}/assets/images/5.svg " alt="DevOps Course">
    </div>
  </div>
</div>
{% endif %}

<!-- Neighar Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6 text-left pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/hero.png">      
    </div>
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Introducing <a target="_blank" href="https://neighar.com">Neighar</a>, new Indian Neighborhood App.</h1>
      <p class="lead mb-4">With Neighar(English: Neighbor + Hindi: Ghar) , we're revolutionizing the way people in Indian villages and neighborhoods come together. 
        We believe that soul of India lives in its villages, and connecting villages is possible through <a target="_blank" href="https://neighar.com">Neighar</a>.</p>
        <a href="https://play.google.com/store/apps/details?id=com.neighar.app" target="_blank" class="btn btn-dark text-white px-5 btn-lg mb-4" alt="Neighar Indian Neighborhood Android App"><img src={{site.baseurl}}/assets/images/google-play.svg style="width: 20px;" alt="Neighar Indian Neighborhood Android App"> Play Store</a>
        <a href="https://apps.apple.com/us/app/neighar-india-neighborhood-app/id6471035218" target="_blank" class="btn btn-dark text-white px-5 btn-lg mb-4" alt="Neighar Indian Neighborhood IOS App"><img src={{site.baseurl}}/assets/images/app-store.svg style="width: 20px;" alt="Neighar Indian Neighborhood IOS App"> App Store</a>
    </div>
    
  </div>
</div>
{% endif %}


<!-- NRI Meet Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Introducing <a target="_blank" href="https://nrimeet.com">NRI Meet</a>, our Innovative new Indian Dating App.</h1>
      <p class="lead mb-4">With NRI Meet (English: Companion) , we're revolutionizing the way people connect and find love. We believe that true compatibility goes beyond just swiping left or right on a few photos. Download <a target="_blank" href="https://nrimeet.app">NRI Meet</a> today!</p>
        <a href="https://play.google.com/store/apps/details?id=com.koottali.app&hl=en_IN&gl=US" target="_blank" class="btn btn-dark text-white px-5 btn-lg mb-4" ><img src={{site.baseurl}}/assets/images/google-play.svg style="width: 20px;" alt=""> Play Store</a>
        <a href="https://apps.apple.com/us/app/nri-meet-find-meet-marry-nris/id6448742453" target="_blank" class="btn btn-dark text-white px-5 btn-lg mb-4"><img src={{site.baseurl}}/assets/images/app-store.svg style="width: 20px;" alt=""> App Store</a>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/3.svg">      
    </div>
  </div>
</div>
{% endif %}

<!-- EmwaveTech Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">About EMWAVE Technologies</h1>
    </div>
    <div class="col-md-6 text-left pl-0 pl-lg-4">
      <p class="lead mb-4">At EmWave Technologies, we are dedicated to delivering high-quality products and services that exceed our customers' expectations. 
        <b><a target="_blank" href="https://nrimeet.app">NRI Meet</a></b>, the dating app for Indian couples, are our first offering. 
        We followed up with an innovative Indian Neighborhood and community app, <b><a target="_blank" href="https://neighar.com">Neighar</a></b>. 
        We have been committed to build applications that facilitates connecting with individuals who share similar interests and personalities. 
        Our team is comprised of many talented professionals who bring unique skills and expertise to the table. With a focus on innovation and continuous improvement, we strive to stay ahead of the curve in our industry. 
        We believe in uniqueness, velocity and veracity, and we apply these beliefs to everything we do, from product design to customer support. Thank you for using our products and services.</p>
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
