@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
:root {
  --base_color: #de5fbf;
  --white: #ffffff;
  --black: #111111;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li > a {
  text-decoration: none;
}
.container {
  margin: 1rem 10rem;
}

.title_font {
  font-family: "Averia Serif Libre", cursive;
  font-size: 3rem;
}

html {
  /* background: linear-gradient(
      35deg,
      rgba(223, 227, 237, 0.066) 33%,
      rgba(232, 178, 117, 0.078) 100%
    ),
    radial-gradient(farthest-side at top left, #c580fd15, transparent),
    radial-gradient(
      farthest-corner at top right,
      rgba(255, 50, 50, 0.066),
      transparent 400px
    ) !important; */
  background-image: linear-gradient(
      35deg,
      rgba(223, 227, 237, 0.066) 33%,
      rgba(232, 178, 117, 0.078) 100%
    ),
    radial-gradient(
      farthest-corner at top right,
      rgba(255, 50, 50, 0.066),
      transparent 400px
    ),
    radial-gradient(farthest-corner at bottom right, #c580fd15, transparent),
    radial-gradient(
      circle 993px at 0.5% 50.5%,
      rgba(137, 171, 245, 0.144) 0%,
      rgba(245, 247, 252, 0.614) 100.2%
    );
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  height: 4rem;
  position: sticky;
  display: flex;
  background: #ffffff;
  padding: 0 50px;
  top: 0;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo > h1 {
  font-size: 1rem;
}
/* nav > ul {
  display: flex;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  padding: 0 0.8rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--black);
} */

.main__landing {
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__landing_desc {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main__landing_desc h1 {
  font-family: "Averia Serif Libre", cursive;
  margin-bottom: 0.5rem;
}
.main__landing_desc > h1 > span {
  font-family: "Averia Serif Libre", cursive;
  color: var(--base_color);
}
.main__landing_desc p {
  font-size: 0.8rem;
}
.main__landing_desc > p > span {
  font-size: 0.8rem;
  font-style: italic;
  color: #4c3fff;
}
.main__landing_buttons {
  margin: 3rem 0 0 0;
  display: flex;
  align-items: center;
}
.main__landing_buttons > button {
  text-decoration: none;
  width: 15rem;
  height: 4rem;
  margin: 0.2rem;
  /* background-color: var(--base_color); */
  background-color: #282828;
  color: var(--white);
  border-radius: 20px;
  padding: 0.5rem 1.6rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__landing_buttons > button > a {
  text-decoration: none;
  margin: 0 !important;
  color: var(--white);
  border-radius: 20px;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.main__landing_image > img {
  width: 32rem;
}

.about_us_main {
  padding: 60px 0 70px 0;

  margin-bottom: 4rem;
  display: flex;

  /* justify-content: space-around; */
  justify-content: space-between;
  align-items: center;
}
.about_us_main > .left {
  width: 40%;
  /* text-align: center; */
}
.about_us_main > .right {
  width: 50%;
  text-align: justify;
}
.about_us_main > .right > p {
  font-size: 1rem;
}
.social > ul {
  display: flex;
  column-gap: 1rem;
  margin: 0.5rem 0;
  justify-content: end;
}
.social > ul > li > a {
  color: var(--black);
  font-size: 1.2rem;
}

.join_us {
  padding: 120px 0 !important;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  /* align-items: center; */
}
.join_us > .left {
  width: 40%;
  /* text-align: center; */
}
.join_us > .right > p {
  margin-top: 2rem;
  font-size: 1rem;
}
.join_us > .right > .join_us_button {
  margin-top: 3rem;

  text-align: center;
}
.join_us > .right > .join_us_button > a {
  text-decoration: none;
  background-color: var(--base_color);
  color: var(--white);
  border-radius: 20px;
  padding: 1rem 3rem;
  font-size: 1rem;
}
.testimonials_main {
  background-color: var(--black);
  color: var(--white);
}
.testimonials {
  padding: 120px 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials > .right {
  width: 60%;
}
.testimonials > .right > .cards_scrollable {
  width: 100%;
  overflow-x: scroll !important;
  display: flex;
  column-gap: 1rem;
}
.testimonials > .right > .cards_scrollable > .card {
  background-color: var(--white);
  min-width: 29rem !important;
  height: 20rem;
  border-radius: 20px;
  color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.cards_scrollable > .card > h1 {
  margin: 0 2rem;
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
}
.cards_scrollable > .card > p {
  margin: 1rem 2rem;
}
.cards_scrollable::-webkit-scrollbar {
  display: none;
}
.extra_container {
  height: 10rem;
}
.circle {
  width: 12rem;
  height: 12rem;
  border-radius: 100%;
  border: 12px solid #f696ff10;
  position: absolute;
  z-index: -1;
  top: 8rem;
  left: 4rem;
}

footer {
  text-align: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
footer > p {
  font-size: 14px;
}

footer > .links ul {
  display: flex;
}
footer > .links ul {
  display: flex;
  column-gap: 1rem;
  color: var(--black);
}
footer > .links > ul > li > a {
  color: var(--black);
  font-size: 0.8rem;
}
.art {
  position: absolute;
  z-index: -5;
  top: 7rem;
}
.art > img {
  width: 50rem;
  opacity: 0.03;
}
.art2 {
  position: absolute;
  z-index: -5;
  top: 90rem;
  right: 12rem;
}
.art2 > img {
  width: 50rem;
  opacity: 0.02;
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 1rem 2rem;
  }
  .title_font {
    font-family: "Averia Serif Libre", cursive;
    font-size: 2.5rem;
  }
  .main__landing {
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .main__landing_desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__landing_desc h1 {
    font-family: "Averia Serif Libre", cursive;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.6rem;
  }
  .main__landing_desc > h1 > span {
    font-family: "Averia Serif Libre", cursive;
    color: var(--base_color);
  }
  .main__landing_desc p {
    font-size: 0.8rem;
    text-align: center;
  }
  .main__landing_desc > p > span {
    font-size: 0.8rem;
    font-style: italic;
    color: #4c3fff;
  }
  .main__landing_buttons {
    margin: 2rem 0 0 0;
    flex-direction: column;
  }
  .main__landing_buttons > button {
    text-decoration: none;
    width: 15rem;
    height: 4rem;
    margin: 0.2rem;
    /* background-color: var(--base_color); */
    background-color: #282828;
    color: var(--white);
    border-radius: 20px;
    padding: 0.5rem 1.6rem;
    border: none;
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .main__landing_buttons > button > a {
    text-decoration: none;
    margin: 0 !important;
    color: var(--white);
    border-radius: 20px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .main__landing_buttons > a {
    text-decoration: none;
    background-color: var(--base_color);
    color: var(--white);
    border-radius: 20px;
    font-size: 0.8rem;
    padding: 0.8rem 1.8rem;
  }
  .main__landing_image > img {
    width: 20rem;
  }
  .about_us_main {
    padding: 60px 0 70px 0;

    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
  }
  .about_us_main > .left {
    /* text-align: center; */
    width: 100%;
  }
  .about_us_main > .right {
    text-align: justify;
    width: 100%;
  }
  .about_us_main > .right > p {
    font-size: 0.8rem;
  }
  .social > ul {
    display: flex;
    column-gap: 1rem;
    margin: 0.5rem 0;
    justify-content: end;
  }
  .social > ul > li > a {
    color: var(--black);
    font-size: 1.2rem;
  }
  .art {
    position: absolute;
    z-index: -5;
    top: 30rem;
  }
  .art > img {
    width: 20rem;
    opacity: 0.03;
  }
  .art2 {
    position: absolute;
    z-index: -5;
    top: 110rem;
    left: 0;
    right: 0;
  }
  .art2 > img {
    width: 20rem;
    opacity: 0.02;
  }

  .testimonials_main {
    background-color: var(--black);
    color: var(--white);
  }
  .testimonials {
    padding: 100px 0 !important;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .testimonials > .right {
    width: 100%;
  }
  .testimonials > .right > .cards_scrollable {
    width: 100%;
    overflow-x: scroll !important;
    display: flex;
    column-gap: 1rem;
  }
  .testimonials > .right > .cards_scrollable > .card {
    background-color: var(--white);
    min-width: 16rem !important;
    height: 10rem;
    border-radius: 20px;
    color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  .cards_scrollable > .card > h1 {
    margin: 0 2rem;
    font-family: "DM Serif Display", serif;
    font-size: 1rem;
  }
  .cards_scrollable > .card > p {
    margin: 1rem 2rem;
  }
  .cards_scrollable::-webkit-scrollbar {
    display: none;
  }
  .join_us {
    padding: 120px 0 !important;
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    /* align-items: center; */
  }
  .join_us > .left {
    width: 40%;
    /* text-align: center; */
  }
  .join_us > .right > p {
    margin-top: 2rem;
    font-size: 0.8rem;
    text-align: justify;
  }
  .join_us > .right > .join_us_button {
    margin-top: 3rem;

    text-align: center;
  }
  .join_us > .right > .join_us_button > a {
    text-decoration: none;
    background-color: var(--base_color);
    color: var(--white);
    border-radius: 20px;
    padding: 1rem 3rem;
    font-size: 1rem;
  }
  footer {
    text-align: center;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  footer > p {
    font-size: 14px;
  }

  footer > .links ul {
    display: flex;
  }
  footer > .links ul {
    display: flex;
    column-gap: 1rem;
    color: var(--black);
  }
  footer > .links > ul > li > a {
    color: var(--black);
    font-size: 0.8;
  }
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 20px;
    height: 1.6px;
    background: #111111;
    margin: 5px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #ffffff;
    transition: 0.8s;
    overflow: hidden;
  }
  .nav-bar.active {
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 60px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar ul li a {
    display: block;
    padding: 10px 25px;
    margin: 1rem 0;
    font-size: 1rem;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
}
