@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Poppins", sans-serif;
}
.main__container {
  padding: 0 20px;
}
.accordion {
  word-wrap: break-word;
  background-color: #eee;
  border-radius: 20px;
  margin: 0.3rem 0;
  color: #868686;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
  color: black;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #a1a1a1;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel > p {
  font-size: 0.8rem;
}
